@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

:root {
  --bg-black: #000000;
  --bright-blue: #0096FF;
  --blue: #0000FF;
  --indigo: #3F00FF;
  --dark-blue: #00008B;
  --egyptian-blue: #1434A4;
  --cyan-blue: #00FFFF;
}

.b-r-left {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.b-r-right {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.bg-black-clr {
  background-color: var(--bg-black);
}

.signup-card {
  transition: box-shadow 0.3s ease;
}

.signup-card:hover {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.4);
}

.text-input {
  border: 2px solid white;
  border-radius: 6px;
}

a {
  color: var(--indigo);
  transition: color 0.3s ease; 
}

a:hover {
  color: greenyellow;
}

.submit {
  background-color: var(--indigo);
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: var(--cyan-blue);
}